#print-orders tbody tr:hover {
    background-color: #EDEDED;

    cursor: pointer;
}

#print-orders tbody tr.mine {
    background-color: #e5f3f7;
}

#print-orders tbody tr.hide {
    display: none;
}